@font-face {
    font-family: 'Oxygen';
    src: url('../../assets/fonts/Oxygen.woff2') format('woff2');
}

p, h1, h4, button {
    font-family: "Oxygen", 'sans-serif';
}

.card {
    cursor: pointer;
}

.card:hover {
    box-shadow: inset 0 0 20px rgb(40, 100, 208);
}

.card:active {
    box-shadow: inset 0 0 1000px rgb(32, 79, 165);
}

.emoji {
    font-size: 30pt;
}

.card-subtitle {
    color: rgb(133, 200, 255);
    font-weight: bold;
    font-size: 18pt;
}

.card-text {
    font-size: 10pt;

    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.badge {
    position: relative;
    visibility: hidden;
    left: -20px;
    top: -3px;
}

.sideBar {
    margin: 15px 0 0 30px;
    width: 220px;
    user-select: none;
    z-index: 1;

    font-weight: bold;
    font-size: 30px;
    color: white;
}

#totalPrice {
    display: inline;
}

#person-spinner-div {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

#productListOverlay {
    opacity: .33;
    pointer-events: none;
}
