<div class="grid-item">
    <div class="button row no-gutters" onmousedown="increaseCount(this, event)">
        <p class="emoji">{{product.icon}}</p>
        <div class="card" style="background-color: inherit; border: none;">
            <div class="card-body">
                <h4 class="card-title">{{product.name}}</h4>
                <p class="card-subtitle">{{product.price}}</p>
                <p class="card-text">{{product.description}}</p>
            </div>
        </div>
    </div>
    <span class="badge" style="font-size: 20px;">0</span>
</div>
